<header>
    <nav class="navbar navbar-expand-sm fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="/"><b>CTM</b></a>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav">
                    {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" href="/projects/">My Projects</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/logout/">Logout</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="/register/">Register</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/login/">Login</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
            {% if user.is_authenticated %}
                <span class="navbar-text">Logged in as <b id="username">{{ user.username }}</b></span>
            {% endif %}
        </div>
    </nav>
</header>